.hero-video {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flexbox();
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px){
    background: url('../images/sm-bg.jpg');
    background-origin: center;
    background-position: cover;
  }
}
.bg-vid {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -999;
  background: $primaryColorDark;
  @media screen and (max-width: 800px){
    display: none;
  }
}
