.music {
  width: 100vw;
  min-height: 70vh;
  background: #fafafa;
  position: relative;
  padding: 32px;

  .music-wrapper {
    justify-content: space-between;
    @include flexbox();
  }
}

.music-copy {
  align-self: center;
  margin-left: 16px;
  @include flex(1);

  h1 {
    color: $primaryColorDark;
  }
}

.music-content {
  padding-top: 16px;
  order: -1;
  position: relative;
  width: 33%;
}

.music-player {
  position: relative;
  background: $primaryColor;
  color: #fff;
  margin: 0 auto;
  @include flexbox();
  flex-direction: column;
  border-radius: 2px;
  overflow: none;
}

.song-list {
  list-style: none;
  margin-top: 8px;
  li {
    @include flexbox();
    align-items: center;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }
}

.artwork-image {
  order: -1;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.play-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 8px;
}
